.intro-bg {
    background-color: #f1f1f1;
  }
  
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
  }
  
  .intro-content {
    position: relative;
    align-self: end;
    padding-bottom: 80px;
    grid-column: 1;
  }
  
  .intro img {
    border-radius: 4px;
    max-width: 100%;
  }
  
  .intro-title {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 4rem;
    line-height: 1.125;
  }
  
  .intro-text {
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    text-indent: 30px;
  }
  
  @media (max-width: 1200px) {
  }
  
  @media (max-width: 800px) {
    .intro {
      grid-template-columns: 1fr;
      gap: 32px;
      justify-items: center;
    }
  
    .intro-content {
      padding-bottom: 0px;
    }
  
    .intro-title {
      font-size: 2rem;
      margin-bottom: 16px;
    }
  }