.event-bg {
  background-color: var(--p1);
}

.event-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.event-list h2 {
  margin-bottom: 40px;
}

#programacao.h2::before {
  background-color: var(--p2);
}

.event-list ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1360px;
  margin: 0 auto;
  overflow-x: auto;
}

::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--p2);
}

::-webkit-scrollbar-track {
  background-color: var(--c0);
}

.event-list li {
  width: 400px;
  min-width: 280px;
}

.event-list a {
  display: block;
}

.event-list img {
  max-width: 99%;
  transition: 0.2s;
}

.event-list img:hover {
  max-width: 100%;
}

@media (max-width:800px){
    .event-list{
        padding-top: 40px;
        padding-bottom: 60px;

    }

    .event-list ul{
        gap: 20px;
    }
}

@media (max-width:600px){
  .event-list h2{
    font-size: 2rem;
  }
}