.pix-bg {
  background-color: #f1f1f1;
}

.pix-bg h2::before {
  background-color: var(--p2);
}

.pix {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 60px;
  padding-bottom: 120px;
}

.pix-bg-logo{
  content: url("../../img/iecc-logo-b.png");
  position: absolute;
  max-width: 300px;
  opacity: .1;
  top: 25%;
  left: 50%;
}

.pix h2 {
  grid-column: 1/-1;
}

.pix-qr {
  max-width: 300px;
  grid-column: 1;
  padding: 40px;
}

.pix-qr h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--p1);
}

.pix-qr img {
  max-width: 100%;
  border-radius: 4px;
}

.pix-text {
  grid-column: 2;
  align-self: center;
  margin-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  text-indent: 30px;
}

@media (max-width:800px){
  .pix{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px){
  .pix{
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .pix h2{
    font-size: 2rem;
  }

  .pix-text{
    grid-column: initial;
  }

  .pix-qr{
    justify-self: center;
  }

  .pix-bg-logo{
    display: none;
  }
}