:root{
  --p1: #242948;
  --p2: #96A4D3;
  --p3: #A98F76;
  --c0: #fff;
  --c1: #b2b2b2;
  --c2: #131313;
}

/* Gray Scale */

.c0 {
  color: var(--c0);
}

.c1 {
  color: var(--c1);
}

.c2{
    color: var(--c2);
}

/* Primary Color */

.p1 {
  color: var(--p1);
}

.p2{
  color: var(--p2);
}

.p3{
  color: var(--p3);
}