:root{
  --p1:rgb(236, 177, 47);
  --p2:rgb(255, 219, 143);

  --c2: #131313;
}

/* Gray Scale */

.c0 {
  color: #fff;
}

.c1 {
  color: #b2b2b2;
}

.c2{
    color: var(--c2);
}

/* Primary Color */

.p1 {
  color: var(--p1);
}

.p2{
  color: var(--p2);
}
