* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    padding-bottom: 60px;
    color: #131313;
  }
  