.cult-bg {
  background-color: var(--c0);
}

#cultos.h2::before {
  background-color: var(--p1);
}

.cult {
  padding-top: 60px;
  padding-bottom: 120px;
}

.cult-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

.cult-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.cult-day {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #eee;
  padding: 20px;
  width: 250px;
  height: 100%;
  min-height: 200px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cult-day::before {
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  top: -5px;
  left: 0;
  background-color: var(--p1);
}

.cult-day::after {
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: var(--p1);
  transition:0.5s;
  color: var(--c0);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding-top: 5px;
}

.cult-day:hover::after {
  content: "Venha nos visitar";
  height: 20px;
}

.cult-day h3 {
  margin-bottom: 20px;
}

.cult-day span {
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .cult-list {
    gap: 20px;
    padding: 20px 0px;
  }

  .cult-list ul {
    gap: 20px;
  }

  .cult-day {
    width: 100%;
    min-height: auto;
    padding: 10px;
  }

  .cult-day h3 {
    font-size: 1.3rem;
  }

  .cult-day span {
    font-size: 1.2rem;
    padding: 5px;
  }
}
