.footer-bg{
    background-color: var(--c2);
}

.footer-bg h2{
    padding-top: 40px;
}

.footer{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer img{
    max-width: 200px;
    background-color: #fff;
    border-radius: 40%;
    padding: 10px;
}

.footer-contact ul{
    margin-bottom: 32px;
}

.footer-contact li:nth-child(even):after{
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: rgb(57, 57, 57);
    margin-top: 16px;
}

.footer li{
    margin-bottom: 16px;
}

.footer-social{
    font-display: flex;
    gap: 32px;
}

.footer a:hover{
    color: var(--p1);
}

.footer-copy{
    grid-column: 1/-1;
    margin-top: 40px;
}