:root {
  --c1: rgb(236, 177, 47);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.header-bg {
  background-color: var(--c1);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  max-width: 1160px;
  margin: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 16px 0px;
  font-weight: bold;
  font-size: 1.1rem;
}

.header-menu a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:hover::after{
    width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a:hover {
    background-color: bisque;
  }

  .header-menu a {
    background-color: #fff;
    color: var(--c1);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a::after{
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    font-size: 1rem;
    padding: 8px 12px;
  }
}
